# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
archive/
midi/
data/
.vscode/
notes/ResourceTemplate

# File-types
*.old

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
config.yml
scripts/Message Constructor Library.dsc
scoreboards.yml
saves.yml
notables.yml
death.yml
entities.yml
maps.yml
scripts/Structure/Narrate.dsc
scripts/mechanics/BehrEdit.dsc
